body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#todolist {
    margin-top: 60px;
    flex-basis: 450px;
    background-color: #1e272e;
    padding: 30px;
}

#todolist .task-head {
    display: flex;
    justify-content: space-between;
}

#todolist .task-head input {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    flex-grow: 0.95;
    outline: none;
    border: none;
    background: transparent;
    color: #ff6f6f;
    border-bottom: 1px solid #ff6f6f;
    padding: 10px 10px 10px 0;
}

#todolist .task-head input::placeholder {
    color: #ff6f6f;
}

#todolist .task-head button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #fff;
    background-color: #ff2b2b;
    padding: 10px 15px;
    cursor: pointer;
}

form#add-task {
    width: 100%;
}


/* task-body */

ul.tasks {
    padding: 0;
    list-style: none;
}

ul.tasks li.task-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #525252;
}

.task-item span.task {
    color: #c7c7c7;
    cursor: pointer;
}

.task-item[is-complete=true] span {
    text-decoration: line-through;
    color: #989898
}


/* task action */

.task-item .task-action button {
    background: none;
    border: none;
    cursor: pointer;
}

.task-item .task-action svg {
    height: 16px;
    width: 16px;
    color: #525252;
}

.task-item:hover .task-action svg {
    color: #c7c7c7;
}

.task-item:hover span {
    color: #fff;
}

.task-result {
    font-size: 13px;
    font-style: italic;
    color: #989898;
}